<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/main.css">
    <title>Space shooter</title>
</head>
<body>
    <div>Header</div>
    {{{body}}}
    <div>Footer</div>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>